<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aolei.spider.dao.InformationEntityMapper">
    <select id="selectAllNews" resultType="com.aolei.spider.entity.InformationEntity">
        SELECT * FROM tb_news
    </select>

    <insert id="addNews" parameterType="com.aolei.spider.entity.InformationEntity" >
        INSERT INTO tb_news (url,title,time,readCount,recomment,pereview) VALUES (#{url},#{title},#{time},#{readCount},#{recomment},#{pereview})
    </insert>
    <!--#{0}代表第一个参数，#{1}代表第二个参数-->
    <select id="getInformationList"  resultType="com.aolei.spider.entity.InformationEntity">
        SELECT * FROM tb_news WHERE id > #{0} LIMIT #{1}
    </select>
</mapper>