<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aolei.spider.dao.JueJinEntityMapper">
  <resultMap id="BaseResultMap" type="com.aolei.spider.entity.JueJinEntity">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="author" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="link" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="imageLink" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, author, link, imageLink
  </sql>
  <insert id="insertSelective" parameterType="com.aolei.spider.entity.JueJinEntity">
    insert into tb_juejin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="imagelink != null">
        imageLink,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="imagelink != null">
        #{imagelink,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aolei.spider.entity.JueJinEntity">
    update tb_juejin
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="imagelink != null">
        imageLink = #{imagelink,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getJueJinList" resultType="com.aolei.spider.entity.JueJinEntity">
  SELECT * FROM tb_juejin WHERE id > #{0} LIMIT #{1}
</select>
  <select id="selectById" resultType="com.aolei.spider.entity.JueJinEntity">
    SELECT * FROM tb_juejin WHERE id = #{0}
  </select>

  <select id="search" resultType="com.aolei.spider.entity.JueJinEntity">
    SELECT * FROM tb_juejin WHERE id > #{start} AND title LIKE concat("%",#{key},"%") LIMIT #{count}
  </select>
</mapper>