<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aolei.spider.dao.SearchRecordEntityMapper">
  <insert id="insertSelective" parameterType="com.aolei.spider.entity.SearchRecordEntity" >
    INSERT INTO tb_search_record (word,username,createtime) VALUES (#{word},#{username},#{createtime})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aolei.spider.entity.SearchRecordEntity">
    update tb_search_record
    <set>
      <if test="word != null">
        key = #{word,jdbcType=VARCHAR},
      </if>
      <if test="username != nulwordl">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="searchRecord" resultType="com.aolei.spider.entity.SearchRecordEntity">
    SELECT * FROM tb_search_record WHERE userName=#{0}
  </select>
</mapper>