<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aolei.spider.dao.UserLikeAndCollectionEntityMapper" >
  <resultMap id="BaseResultMap" type="com.aolei.spider.entity.UserLikeAndCollectionEntity" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createTime`" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tbName" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.aolei.spider.entity.UserLikeAndCollectionEntity" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createTime`" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tbName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="blogId" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userName, type, createTime`, status, tbName
  </sql>
  <sql id="Blob_Column_List" >
    blogId
  </sql>
  <insert id="insertSelective" parameterType="com.aolei.spider.entity.UserLikeAndCollectionEntity" >
    insert into tb_user_like_and_collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createtime` != null" >
        createTime`,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="tbname != null" >
        tbName,
      </if>
      <if test="blogid != null" >
        blogId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createtime` != null" >
        #{createtime`,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tbname != null" >
        #{tbname,jdbcType=VARCHAR},
      </if>
      <if test="blogid != null" >
        #{blogid,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aolei.spider.entity.UserLikeAndCollectionEntity" >
    update tb_user_like_and_collection
    <set >
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createtime` != null" >
        createTime` = #{createtime`,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tbname != null" >
        tbName = #{tbname,jdbcType=VARCHAR},
      </if>
      <if test="blogid != null" >
        blogId = #{blogid,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>