<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aolei.spider.dao.viewRecordEntityMapper" >
  <resultMap id="BaseResultMap" type="com.aolei.spider.entity.viewRecordEntity" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="recordId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tbName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="viewTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, recordId, tbName, viewTime
  </sql>
  <insert id="insertSelective" parameterType="com.aolei.spider.entity.viewRecordEntity" >
    insert into tb_view_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="recordid != null" >
        recordId,
      </if>
      <if test="tbname != null" >
        tbName,
      </if>
      <if test="viewtime != null" >
        viewTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="recordid != null" >
        #{recordid,jdbcType=INTEGER},
      </if>
      <if test="tbname != null" >
        #{tbname,jdbcType=VARCHAR},
      </if>
      <if test="viewtime != null" >
        #{viewtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aolei.spider.entity.viewRecordEntity" >
    update tb_view_record
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="recordid != null" >
        recordId = #{recordid,jdbcType=INTEGER},
      </if>
      <if test="tbname != null" >
        tbName = #{tbname,jdbcType=VARCHAR},
      </if>
      <if test="viewtime != null" >
        viewTime = #{viewtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>